---
---

@import "main";
@import "sass-code-highlight-master/monokai";

div.highlighter-rouge {
    margin-bottom: 15px;
}

div.highlight {
    padding: 20px;
    border-radius: 4px;
}

img#logo {
    width: 230px;
}

.card-wrapper {
    margin: 10px;
    width: 100%;
}

.card-body {
    height: 10em;
}

.blog-post {
    text-align: justify;
}

.post-picture {
    width: 100%;
}

.image-container {
    padding: 20px;
}