---
---

@import "main";

img#logo {
    width: 230px;
}

.card-wrapper {
    margin: 10px;
    width: 100%;
}

.card-body {
    height: 10em;
}

.blog-post {
    text-align: justify;
}

.post-picture {
    width: 100%;
}

.image-container {
    padding: 20px;
}